@media screen and (max-width: 610px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  
  .nav {
    z-index: 11;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }

  .header__menu {
    z-index:1000;
    display: block;
    position: relative;
    right: 10px;
    padding: 1em;
  }

  .header__menu svg {
    width: 32px;
  }
}
